<%= render 'banneruser' %>

<% user = @user %>





<div class="container">
            <div class="card bg-light">
              <br><br>


        <div class="card-body">

          <div class="row">
          <div align="center" class="col-md-6">
            <%if @user.avatar.attached?%>
            <%= image_tag @user.avatar, alt: 'avatar', class: "avatar"%>
            <%else%>
            <%= image_tag 'noavatar.png', alt: 'avatar', class: "avatar"%>
            <%end%>
          </div>
          <div class="col-md-6">
            <div class="move-profile">
            <h1 class="text-dark"><%=user.email%></h1>
            <p>Number of event created : <%=user.events.count%><br>
            Number of event attended : <%=user.attendances.count%></p>
            <p>Change your profile pic :</p>
            <%= form_tag user_avatars_path(@user.id), method: "post", multipart: true do %>
              <%= file_field_tag :avatar %>
              <%= submit_tag "Update" , class: 'btn btn-secondary btn-submit' %>
            <% end %>

            <% if current_user.moderator? %>
            <a href="<%=admin_root_path%> ">Moderate</a>
            <% end %>

      </div>
            </div>
          </div>




      </div>
        </div>
      </div>
