<%= render 'bannerindex' %>
<br>

<div class="container">
      <div class="row">

<% @validatedevent.each do |event| %>
<div class="card card-small bg-light">
<%= image_tag event.picture, :alt => "event-pic", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title text-dark"><a href="<%=event_path(event.id)%>"><%= event.title %></a></h5>
    <p class="card-text"><small class="text-muted"><%= event.admin.email %></small></p>

    <p class="card-text"><small class="text-muted"><%= event.attendees.count %> attendee(s)</small></p>
  </div>
</div>


  <% end %>
</div>
        </div>

<br>
<br>
<br>
