<% if flash[:danger] %>
  <div class="alert alert-dismissible alert-danger">
    <div class="notice"><strong><%= flash[:danger] %></strong>
     </div>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% end %>


<h1 class="font-weight-light" align="center"><%= @event.title %></h1><br>
  <% event = @event %>
  <div class="card" align="center">
  <div class="card-body col-sm-10">
    <blockquote class="blockquote mb-0 text-left">
      <p><%= event.description %></p>
      <p class="text-muted small">Le <%= event.start_date %> pendant <%= event.duration %> minutes <br>
      A <%= event.location %> <br>
      <%= event.attendees.count %> inscrit(s)</p>
      <footer class="blockquote-footer"><a class="text-muted" href="<%=user_path(event.admin.id)%>"><%= event.admin.email %></a></footer>

    </blockquote>
  </div>
  </div>
  <p class="font-weight-light text-muted"><small>Created at : <%= event.created_at %></small></p>

  <% if current_user.id == event.admin.id %>
  <a class="font-weight-light" href="<%=event_participations_path(event.id)%> ">See the informations</a>
  <% else %>

  <%= form_tag event_participations_path(event.id) do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <p>If you want to join the event, please pay the amount of <%= event.price %> € below :
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= event.price * 100 %>"
          data-currency="eur"
          data-locale="auto"></script>
<% end %>

<% end %>
