<!DOCTYPE html>
<html>
  <head>
    <title>Wanna Hang Out ?</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Wanna Hang Out ?</h5>
    <nav class="navbar-brand my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="<%= root_path %>">Home</a>
      <a class="p-2 text-dark" href="<%= new_event_path %>">New Event</a>
      <a class="p-2 text-dark" href="<%= user_path(current_user.id) %>">Profil</a>
      <a class="p-2 text-dark" href="<%= destroy_user_session_path %>" data-method="DELETE">Log Out (<%= current_user.email %>)</a>
    </nav>
  </div>
    <% else %>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Wanna Hang Out ?</h5>
    <nav class="navbar-brand my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="<%= root_path %>">Home</a>
      <a class="p-2 text-dark" href="<%= new_user_session_path %>">Log In</a>
      <a class="p-2 text-dark" href="<%= new_user_registration_path %>">Sign In</a>
    </nav>
  </div>
  <% end %>

  <div class="container col-md-12">
    <%= yield %>
  </div>

  </body>
</html>
